/* Semantic Elements */
nav {
    display: none;
    text-align: left;
    position: fixed;
    top: 38px;
    z-index: 10;
    font-size: 14pt;
}

#navcheck:checked~nav {
    display: flex;
    flex-direction: column;
}

header {
    margin-top: 28px;
    line-height: 0.1;
}

body {
    border: 3px solid #999900;
    background-color: darkgrey;
}

main {
    padding: 5px;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

footer a {
    color: black;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

label, nav, header, footer {
    background-color: #999900;
}

/* Text */
nav a {
    color: black;
    text-decoration: none;
    padding: 5px;
}

nav a:hover {
    text-decoration: underline;
}

h2 {
    text-align: center;
}

header h2 {
    opacity: 0.7;
}

figcaption {
    font-size: 10pt;
}

.card h3 {
    text-decoration: underline;
}

.disclaimer {
    font-size: 8pt;
}

/* Images */
img {
    width: 90%;
    border: 4px solid darkgreen;
    border-radius: 10px;
}

#about-me img {
    object-position: 20%;
}

/* Containers */
/* table {
    border-collapse: collapse;
} */

td, th {
    border: 2px solid black;
}

td {
    text-align: center;
}

#heading {
    display: flex; 
    order: 2; 
    flex-direction: column; 
    justify-self: center; 
    text-align: center;
}

#anchor {
    display: flex;
    flex-direction: column;
    font-size: 10pt;
    margin-left: 10px;
}

#contact {
    margin-left: 20px;
}

#first-row, #second-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 19px;
    width: 100%;
}

#bnb, #pawfect-pet-care {
    width: 85%;
}

.card {
    border: 5px solid black;
    background-color: white;
    text-align: center;
    width: 40%;
    margin: 5px;
}

/* Other */
#navcheck {
    display: none;
}

label {
    display: flex;
    align-self: left;
    position: fixed;
    top: 0px;
    font-size: 30px;
    width: 96.75%;
}

label, nav {
    position: fixed;
    left: 8px;
}

.card button {
    background-color: green;
    font-size: 20px;
}

/* Media Queries */